*{
  padding: 0px;
  margin: auto !important;
  text-decoration: none !important;
  width:100%;
}
@media only screen and (max-width: 768px) {
    .navbar-brand {
      display: inline-block;
    }
    .navbar-nav {
      margin-top: 0.5rem;
    }
    .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-collapse {
      justify-content: flex-end;
    }
    .navbar-toggler {
      display: block;
    }
  }


.c-light {
    background-color: #FEFAE0;
    color: #264653;
    
}
.c-dark {
    background-color: #264653;
    color: #FEFAE0;
}
.c-green {
    background-color: #2A9D8F;

}
.c-yellow {
    background-color: #E9C46A;

}
.c-orange {
    background-color: #F4A261;
    
}
.c-red {
    background-color: #E76F51;
    
}

.nav-link,.navbar-brand,.navbar-brand:hover{ 
  font-weight: 900;
  font-family: "comic Sans",sans-serif;
  color: #E76F51;
}
.nav-link:hover{
  color: #E76F51;
  transform: scale(1.1,1.1);
  transition: 1s;
}
.nav-icon {
    width: 50px;
    height: 50px;
}
#logo{
  width: 100px;
  height: 100px;
  z-index: 100;
}
.btn:focus{
  border: none !important;
  box-shadow: none !important;
}

.navbar-collapse {
  font-size: large;
  font-weight: 900;
  margin:auto;

}
.container-fluid{
  justify-content: center;
  align-items: center;
}
.n-border{
  border: none !important;
  height:30rem;
  margin-bottom: 5rem !important;
}
.hero-img {
  width: 420px;
  height: 500px;
  border-radius: 10%;
}
.background-image{
  background-image: url("../images/graph.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.hero-text {
  flex: 1;
  text-align: center;
}
.domain-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  border-top: 1px #2A9D8F dotted;
  border-spacing: 30px;
  text-align: center;
}
.domain-img-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.domain-img{
  position: relative;
  width:50%;
  height:50%;
  padding:10px;
}



.contact-card{
  padding: 40px;
  width:50%;
  background-color: #E76F51;
  color: #E9C46A;
  border-radius: 20px;
}